 div1{
    font-size: 30px;
 }
.titulos {
    color: #e05fe4;
    box-sizing: inherit;
    
  div vita{
    text-align: center; 
     .br negrita {
        font-size: medium;
    }
 
div{
    text-align: center;
}
h1{
    text-align: center;
}
<style type="text/css">
